* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px black;
}
.encabezado h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  font-size: 2.5rem;
}
.encabezado li {
  list-style-type: none;
  display: inline-block;
}
.encabezado li a {
  text-decoration: none;
  color: #ac7979;
  margin: 10px;
  font-size: 1.5rem;
}
.encabezado li a:hover {
  color: pink;
}

.rosa {
  color: pink;
}

.boton:hover {
  background-color: rgba(209, 90, 90, 0.836);
  color: antiquewhite;
  cursor: pointer;
}

.destinos {
  text-align: center;
  margin: uppercase;
  font-size: 3rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.destinos p {
  font-size: 4rem;
  color: black;
  gap: center;
}

.contenedorDestino {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center center;
  background-color: aliceblue;
  border: 1px solid gainsboro;
  padding-left: 20px;
  box-shadow: opx 2px 4px black;
  margin: 10px;
  background-position: center;
}
.tarjeta img {
  max-width: 100%;
}
.tarjeta button {
  background-color: rgb(219, 156, 156);
  color: antiquewhite;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}
.tarjeta button:hover {
  background-color: rgb(231, 143, 143);
}

.tarteja p {
  margin: 10px 0;
}

.contenedorguias {
  display: flex;
  margin: 10vh;
}

iframe {
  display: block;
  margin: auto;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input [type=text] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.btnFormulario {
  background-color: rgb(219, 156, 156);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 1023px) {
  .encabezado {
    height: auto;
    flex-direction: column;
    text-decoration: column;
    text-align: center;
  }
  .bannercontenido p {
    font-size: 2.5rem;
  }
  .destinos {
    margin: 5vh;
    font-size: 2rem;
  }
  .destinos h3,
  .destinos p {
    font-size: inherit;
  }
  .contenedorDestino {
    grid-template-columns: 1fr 1fr;
  }
  .contenedorguias {
    flex-direction: column;
  }
  .footerContenido {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contenedorDestino {
    grid-template-columns: 1fr;
  }
}
.banner {
  background-image: url("../img/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(172, 121, 121);
  z-index: 0;
}

.bannercontenido {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bannercontenido h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.bannercontenido p {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.bannercontenido .boton {
  margin-top: 10px;
}

.footer {
  background-color: rosybrown;
  color: black;
  padding: 20px 0;
  text-align: center;
}
.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footerContenido {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.infoContacto p {
  margin: 5px 0;
  font-size: 1, 2rem;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 1, 2rem;
}
.redesSociales a:hover {
  color: black;
}
.redesSociales i {
  color: black;
  text-decoration: none;
  background-position: center;
  margin-right: 10px;
  font-size: 1.5rem;
}

footer i {
  margin-right: 10px;
}

/*# sourceMappingURL=estilos.css.map */
